
<%# パンくず（1回だけ） %>
<% if params[:from] == "user" %>
  <% breadcrumb :impression_edit_from_user, @impression %>
<% else %>
  <% breadcrumb :impression_edit_from_section, @impression %>
<% end %>


<main class="flex-grow-1 d-flex justify-content-center ">
  <div class="card p-5" style="width: 100%; max-width: 85%;">
    <div class=" mx-auto">
      <h2>感想を編集</h2>
      <p class="text-muted">
        章：<%= truncate(@section.content.to_s, length: 40) %> ／ 本：<%= @section.book.title %>
      </p>
    </div>
    <div class="d-flex justify-content-center ">
      <%= form_with model: @impression,
                    url: book_section_impression_path(@section.book, @section, @impression),
                    method: :patch, html: {class: "flex-fill  d-flex flex-column h-100 " } do |f| %>
        <%= hidden_field_tag :return_to, params[:return_to] %>
        <div class="field w-75 mx-auto">
          <div class="d-flex">
            <i class="bi bi-pencil-fill"></i>
            <%= f.label :body, "感想", class: "form-label" %>
          </div>
          <%= f.text_area :body, rows: 13, class: "form-control", placeholder: "この章を読んで感じたこと…" %>
          <% if @impression.errors[:body].any? %>
            <div class="text-danger small"><%= @impression.errors.full_messages_for(:body).join(", ") %></div>
          <% end %>
        </div>
        <br>
        <div class="actions actions w-50 mx-auto d-flex justify-content-center gap-2">
           <%# キャンセルも return_to があればそちらへ。なければ章ページへ %>
          <% cancel_path =
              if params[:return_to].present?
                params[:return_to]
              else
                polymorphic_path([@section.book, @section])
              end %>
          <%= link_to "キャンセル", cancel_path, class: "btn btn-secondary  w-25" %>
          <%= f.submit "更新する", class: "btn btn-primary  w-25" %>            
        </div>
      <% end %>
    </div>
  </div>
</main>