<main class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
  <h2 class="text-center mb-4">パスワード再設定</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="field">
        <%= f.label :password, "新しいパスワード"%><br />
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          <%=f.password_field :password, autofocus: true, autocomplete: "new-password" , class:"form-control"%>
          <% if f.object.errors[:password].any? %>
              <div class="text-danger small"><%= f.object.errors.full_messages_for(:password).join(", ") %></div>
          <% end %>
      </div>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード(確認用)"%><br />
      <div class="input-group has-validation">
        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
        <%=f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control"%>
        <% if f.object.errors[:password_confirmation].any? %>
            <div class="text-danger small"><%= f.object.errors.full_messages_for(:password_confirmation).join(", ") %></div>
        <% end %>
      </div>
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "パスワードを再設定",class:"btn btn-primary w-100" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  </div>
</main>
