<h1>章を編集</h1>

<%= form_with(model: [@book, @section], local: true) do |f| %>
  <div class="field">
    <%= f.label :content, "章・ページ名" %><br>
    <%= f.text_field :content%>
  </div>

  <div class="actions">
    <%= link_to "キャンセル", book_section_path(@section.book, @section)%>
    <%= f.submit "更新する" %>
  </div>
  
  <% if current_user &&
          (current_user.respond_to?(:admin?) && current_user.admin? ||
          @section.user_id == current_user.id) %>
    <hr>
    <div class="actions">
      <%= link_to "章・ページを削除する",
              book_section_path(@book, @section),
              data: { turbo_method: :delete, turbo_confirm: "削除すると関連する情報もすべて失われます。本当に削除しますか？" },
              class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>