<% breadcrumb :section, @section %>
<main class="flex-grow-1 d-flex justify-content-center ">
  <div class="card p-5" style="width: 100%; max-width: 85%;">
  <div class=" d-flex align-items-center mx-auto">
    <h1 class="me-2"><%= @section.content %></h1>
    <div class="actions d-flex">
      <%= link_to edit_book_section_path(@book, @section), class: "btn btn-primary d-flex align-items-center btn-sm me-1" do %>
        <i class="bi bi-pencil-fill"></i>
        章・ページ名編集
      <% end %>  
    </div>
  </div>
   <div class=" d-flex align-items-center mx-auto"> 
      <p>
        書籍名：<%= @book.title || "無題" %><br>
        作成者: <%= @section.user.try(:name) || "不明" %><br>
        作成日時: <%= l @section.created_at, format: :short %>
      </p>
    </div><br>


    


    <!-- app/views/sections/show.html.erb の「感想」セクションをリンクだけに -->
    <section id="impressions">
    <div class="d-flex align-items-center w-75 mx-auto">
      <h2 class="me-2">感想</h2>
      <% if current_user %>
        <%= link_to new_book_section_impression_path(@section.book, @section),
                    class: "btn btn-primary align-items-center btn-sm me-3",
                    data: { testid: "link-to-new-impression" } do %>
                    <i class="bi bi-plus-lg"></i>
                    感想を投稿 
        <%end%>
      <% else %>
        <p class="text-muted">感想を投稿するにはログインしてください。</p>
      <% end %>
    </div>
      <div id="impressions-list">
        <%= render @section.impressions.order(created_at: :desc) %>
      </div>
  </div>
<main>
