<% breadcrumb :book_new %>
<main class="flex-grow-1 d-flex justify-content-center ">
  <div class="card p-5" style="width: 100%; max-width: 85%;">
   <div class=" d-flex align-items-center mx-auto">
    <h1 class="h1 mx-auto">書籍の登録</h1>
    </div><br>
    <div class="d-flex justify-content-center ">
      <%= form_with(model: @book, local: true , html: {class: "flex-fill" }) do |form| %>
      <div class="field w-50 mx-auto">
      <div  class= "d-flex">
        <i class="bi bi-book-fill"></i>
        <%= form.label :title, "題名"%><br />
      </div>
        <%= form.text_field :title, autofocus: true, autocomplete: "title", class:"form-control"%>
        <% if @book.errors[:title].any? %>
            <div class="text-danger small"><%= @book.errors.full_messages_for(:title).join(", ") %></div>
        <% end %>
      </div>
        <br>
      <div class="field w-50 mx-auto">
        <div  class= "d-flex">
          <i class="bi bi-person-fill"></i>
          <%= form.label :author, "著者名" %><br />
        </div>
          <%= form.text_field :author, autofocus: true, autocomplete: "title", class:"form-control"%>
          <% if @book.errors[:author].any? %>
            <div class="text-danger small"><%= @book.errors.full_messages_for(:author).join(", ") %></div>
          <% end %>
      </div>
      <br>
      <div class="actions w-50 mx-auto d-flex justify-content-center gap-2">
          <%= link_to "キャンセル", root_path , class: "btn btn-secondary w-25"%>
          <%= form.submit "登録する", class: "btn btn-primary w-25" %>
        </div>
      <% end %>
    </div>
  </div>
</main>