<main class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス"%><br />
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-at"></i></span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
        </div>
      </div>


      <div class="field">
        <%= f.label :password, "パスワード"%><br />
          <div class="input-group has-validation">
            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control"%>
          </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <br>
        <div class="field">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me , "ログイン状態を保存"%>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary w-100"%>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</main>
